.home{
    background: #fff;
}
.home .homeBtn{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}
.home .homeBtn>div{
    display: inline-block;
    height: 100%;
    cursor: pointer;
    position: absolute;
}

.home .homeBtn>img{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0px;
}
.center{
    transform: skewX(-19deg);
    position: relative;
    left: 33.8%;
    width: 32%;
    z-index: 100;
}
.center div{
    transform: skewX(0deg);
}
.home .homeBtn  .subscription_wrap{
    position: absolute;
    left: 0px;
    width: 40%;
    z-index: 10;
}

.home .homeBtn .account_wrap{
    width: 40%;
    right: 0;
    z-index: 10;
}

.home .spanStyle{
    font-size: 20px;
    position: relative;
    top: -3px;
    left: 10px;
    color: white;
}